*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #302e4d;
    font-size: 16px;
    line-height: 1.3;
}
i{
    padding-right: 4px;
}
p{
    padding-top: 1px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-weight: 500;
    
}
.app{
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
}
.container{
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    background-color:  #fff;
    padding: 20px 20px 0 0;
}   
.left-page{
    flex-direction: column;
    justify-content: flex-start;
}
.avatar-name{
    flex-direction: column;
}
.avatar{
    width: 220px;
    height: 220px;
    
    margin: 0 20px;
}
.avatar img{
    border-radius: 50%;
    max-width: 100%;
}
.name{
    text-align: center;
    font-size: 24px;
    padding: 10px 0;
    color: #3f9599;
}
.info-skill-advantage{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    background-color: #3f9599;
    padding: 12px;
    
}
.info-skill-advantage p,i{
    color: #fff;
}
.info p{
    padding-top: 6px;
}
.right-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-right: 8px; */
}
.right-page .title{
    padding: 10px 0 0 0;
}

.product-item{
    padding-top: 6px;
    padding-left: 16px;
}
.name-product{
    font-weight: 500;
}
.github{
    padding-left: 16px;
    font-weight: 500;
    padding-top: 6px;
}
.text{
    padding-left: 16px;
}

@media (min-width: 1140px) and (max-width: 1300px) {
    .container{
        width: 60%;
    }
  }
  @media (min-width: 850px) and (max-width: 1139px) {
    .container{
        width: 80%;
    }
    .right-page{
        padding-bottom: 20px;
    }
  }
  @media (min-width: 740px) and (max-width: 850px) {
    .app{
        width: 100vw;
        height: 100%;
    }
    .container{
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 0;
        gap: 0;
    }
    .avatar{
        width: 400px;
        height: 400px;
    }
    .name{
        font-size: 40px;
    }
    .info-skill-advantage{
        width: 100%;
        padding: 12px 60px;
    }
    .title{
        font-size: 28px;
    }
    .name-product{
        font-size: 24px;
    }
    p{
        font-size: 24px;
    }
    .right-page{
        padding: 40px;
    }
    .github{
        font-size: 24px;
    }
    .github a{
        font-size: 24px;
    }
    
  }
/* Mobile */
@media (min-width: 550px) and (max-width: 740px) {
    .app{
        width: 100%;
        height: 100%;
    }
    .container{
        width: 100%;
    }
    .container{
        flex-direction: column;
        padding: 0;
    }
    .avatar{
        width: 400px;
        height: 400px;
    }
    .name{
        font-size: 40px;
    }
    .info-skill-advantage{
        width: 100%;
        padding: 12px 60px;
    }
    .title{
        font-size: 28px;
    }
    .name-product{
        font-size: 24px;
    }
    p{
        font-size: 24px;
    }
    .right-page{
        padding: 20px 60px 60px;
    }
    .github a{
        font-size: 24px;
    }
}
@media (max-width: 550px) {
    .app{
        width: 100%;
        height: 100%;
    }
    .container{
        width: 100%;
    }
    .container{
        flex-direction: column;
        padding: 0;
        gap: 0;
    }
    .avatar-name{
        padding-top: 30px;
    }
    .avatar{
        width: 300px;
        height: 300px;
    }
    .name{
        /* font-size: 40px; */
    }
    .info-skill-advantage{
        width: 100%;
        padding: 30px;
    }
    .title{
        /* font-size: 28px; */
    }
    .name-product{
        /* font-size: 24px; */
    }
    p{
        /* font-size: 24px; */
    }
    .right-page{
        padding: 20px 20px 40px 20px;
    }
    .github a{
        /* font-size: 24px; */
    }
}